@font-face {
  font-family: 'Corbel';
  src: url('./Corbel.ttf');
}
body {
  margin-top: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header h1 {
  font-family: Corbel, sans-serif;
}
#save {
  float: right;
}
#kerbal {
  position: relative;
  width: 90%;
}
.content {
  display: flex;
}
.footer {
  color: #888;
  font-size: 14px;
  margin: 0;
  line-height: normal;
  text-align: right;
}
.kerbal-box {
  position: absolute;
  top: 0;
  width: 100%;
}
.image-card {
  width: 75px;
  height: 75px;
}
.image-card:hover {
  border: solid 1px lightblue;
  cursor: pointer;
}
.image-card.active {
  border: solid 1px #70d780;
}
.none {
  border: dotted 1px #767676;
  display: inline-block;
}

.callout {
  display: none;
  position: absolute;
  width: 100%;
  max-width: 500px;
  top: 5px;
  right: 5px;
}
