@font-face {
  font-family: 'Corbel';
  src: url('./Corbel.ttf');
}
@font-face {
  font-family: 'Exo2';
  src: url('./Exo2.ttf');
}
body {
  margin-top: 10px;
  font-family: Exo2, sans-serif;
  overflow-y: overlay;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header h1 {
  font-family: Corbel, sans-serif;
  color: #cf321f;
  cursor: pointer;
}
#save,
#download {
  float: right;
}
#kerbal {
  position: relative;
  width: 95%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  overflow: auto;
}
.footer {
  color: #888;
  font-size: 14px;
  margin: 0;
  line-height: normal;
  text-align: right;
}
.kerbal-box {
  position: absolute;
  top: 0;
  width: 100%;
}
.image-card {
  width: 75px;
  height: 75px;
}
.image-card:hover {
  border: solid 1px lightblue;
  cursor: pointer;
}
.image-card.active {
  border: solid 1px #70d780;
}
.none {
  border: dotted 1px #767676;
  display: inline-block;
}
.loading {
  font-size: 24px;
}
.accordion-title {
  font-size: 1em;
}
.download-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.download-avatar {
  height: 500px;
  max-width: 500px;
}
.download-footer {
  max-width: 500px;
  width: 100%;
}
.callout {
  display: none;
  position: absolute;
  width: 100%;
  max-width: 500px;
  top: 5px;
  right: 5px;
}
.download-buttons {
  display: flex;
  justify-content: flex-end;
}
.download-buttons button {
  margin-left: 10px;
}
